body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: black;
}

img {
  width: 100%;
}

div.box {
  margin: 20px;
  padding: 20px;
  border-left: 2px solid #e5e5e5;
}
